html, body{
  height: 100%; 
  width: 100%; 
  margin: 0; 
  padding: 0; 
}

body {
  background-image: url("https://images.pexels.com/photos/2255/black-and-white-city-houses-skyline.jpg?cs=srgb&dl=black-and-white-buildings-city-2255.jpg&fm=jpg");
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: cover; 
  box-shadow: inset 0 0 100px 100px rgba(210, 194, 247, 0.219);
  display: flex;
  justify-content: center;
}

